@font-face {
    font-family: 'Minecraft';
    src: local('Minecraft'), 
        url('assets/fonts/Minecraft.ttf') format('truetype');
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Minecraft';
}

.app {
    height: 100%;
    background-image: url(assets/background.jpg);
    background-size: cover;
}

div.main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.logo {
    width: 70%;
    margin: 0 auto;
}

div.logo img {
    width: 100%;
}

div.buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: auto;
}

div.buttons > a {
    margin: auto; 
}

input[type=button] {
    font-family: 'Minecraft';
    font-size: 3.2em;
    width: 400px;
    height: 91px;
    background-image: url(assets/button.png);
    box-shadow: 20px 20px 10px rgba(0, 0, 0, .3);
    border-radius: 30px;  
    border: none;
    color: #fff;
    background-color: transparent;  
    margin: auto; 
    cursor: pointer;
}

input[type=button]:hover {
    background-image: url(assets/button-dark.png);
}
